.button-container {
	display: flex;
	justify-content: center;
	position: relative;

	.button-style {
		width: 100%;
		background: #111;
		color: #fff;
		border-radius: 30px;
		font-size: 16px;
		border: 1.5px solid transparent;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		cursor: pointer;

		&:hover {
			background: #333333;
		}
	}
}
