@import '../../../styles/styles.scss';

.container {
  background: white;
  cursor: pointer;

  .product-image-container {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 300px;
    max-width: 592px;
  }

  .product-details-container {
    background: white;
    padding: 5px;
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
