@import "../../styles/styles.scss";

.product-info-container {
	background: white;
	padding: 12px;
}

.product-description-container {
	background: white;
	padding: 12px;

	.product-description {
		margin: 20px 0;
	}
}

.product-images-container {
	background: white;
	max-width: 767px;

	.next-image-wrapper {
		background: #f5f5f5;
		display: flex;
		justify-content: center;
		position: relative;
		min-height: 490px;

		@include breakpoint(xs) {
			width: 100vw;
		}

		@include breakpoint(sm) {
			width: 100vw;
		}
	}
}
